@model TuProyecto.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1>@ViewData["Title"]</h1>

<h2>Ocurrió un error</h2>
<p>@ViewData["RequestId"]</p>

@if (Model.ShowRequestId)
{
    <div>
        <p>Request ID: @Model.RequestId</p>
    </div>
}
