@model List<YuGiOhCards.Models.YuGiOhCard>

<h2>Cartas de Blue-Eyes</h2>

<div class="row">
    @foreach (var card in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@card.CardImages[0].ImageUrl" class="card-img-top" alt="@card.Name">
                <div class="card-body">
                    <h5 class="card-title">@card.Name</h5>
                    <p>Precio: $@card.CardPrices[0].CardMarketPrice</p>
                    <a href="@Url.Action("Details", "YuGiOh", new { id = card.Id })" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
        </div>
    }
</div>
